<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    </head>
    <body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/">django company</a>
            <a class="navbar-brand" href="/company/">company info</a>
            <a class="navbar-brand" href="/mysite/">product</a>
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'accounts:logout' %}">{{ user.username }} (logout)</a>
            {% else %}
            <a class="navbar-brand" href="{% url 'accounts:login' %}">login</a>
            {% endif %}


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mb-2 mb-lg-0">
 <li class="nav-item"><a class="nav-link" href="/company/">company info</a></li>
 <li class="nav-item"><a class="nav-link" href="/mysite/">product</a></li>
 {% if user.is_authenticated %}
 <li class="nav-item"><a class="nav-link" href="{% url
'accounts:logout' %}">{{ user.username }} (logout)</a></li>
 {% else %}
 <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">login</a></li>
 {% endif %}

            </div>
        </div>
    </nav>
    </body>
</html>
